absl-py==0.8.0
alabaster==0.7.12
-e git+https://github.com/allenai/allennlp.git@834e0fb3041a44e9b6e03876b3480b50d6e4164b#egg=allennlp
anaconda-client==1.7.2
anaconda-navigator==1.9.7
ase==3.18.0
asn1crypto==0.24.0
astor==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
aws-sam-translator==1.15.1
aws-xray-sdk==2.4.2
awscli==1.16.45
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bleach==3.1.0
blis==0.2.4
boto==2.49.0
boto3==1.9.252
botocore==1.12.35
cbor==1.0.0
certifi==2019.9.11
cffi==1.12.3
cfn-lint==0.24.4
cftime==1.0.3.4
chardet==3.0.4
Click==7.0
clyent==1.2.2
colorama==0.3.9
conda==4.7.12
conda-build==3.17.8
conda-package-handling==1.4.1
conda-verify==3.4.2
conllu==0.11
cryptography==2.7
cudf==0.8.0+0.g8fa7bd3.dirty
cycler==0.10.0
cymem==2.0.2
Cython==0.29.13
DateTime==4.3
decorator==4.4.0
defusedxml==0.5.0
docker==4.1.0
docutils==0.15.2
dominate==2.4.0
ecdsa==0.13.3
editdistance==0.5.2
elasticsearch==7.0.0
entrypoints==0.3
filelock==3.0.10
flaky==3.4.0
Flask==1.1.1
Flask-Cors==3.0.8
ftfy==5.6
future==0.17.1
gast==0.2.2
gevent==1.3.6
glob2==0.7
google-pasta==0.1.7
gpytorch==0.1.1
greenlet==0.4.15
grpcio==1.22.0
h5py==2.8.0
html5lib==1.0b8
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
json5==0.8.5
jsondiff==1.1.2
jsonnet==0.10.0
jsonpatch==1.24
jsonpickle==1.2
jsonpointer==2.0
jsonschema==3.0.2
jupyter-client==5.3.1
jupyter-core==4.4.0
jupyterlab==1.1.1
jupyterlab-server==1.0.6
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
libarchive-c==2.8
librmm-cffi==0.8.0
lief==0.9.0
llvmlite==0.29.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.0.4
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
moto==1.3.13
mpi4py==2.0.0
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
netCDF4==1.4.1
networkx==2.3
nltk==3.4.5
notebook==6.0.1
numba==0.45.1
numpy==1.16.4
numpydoc==0.8.0
nvstrings-cuda92==0.8.0
olefile==0.46
overrides==2.0
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parsimonious==0.8.0
parso==0.5.1
pathlib==1.0.1
pbs==0.110
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pip==19.2.3
pkginfo==1.5.0.1
plac==0.9.6
pluggy==0.13.0
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyarrow==0.12.1
pyasn1==0.4.4
pycairo==1.18.0
pycosat==0.6.3
pycparser==2.19
Pygments==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
PySocks==1.7.0
pytest==5.2.1
python-dateutil==2.8.0
python-igraph==0.7.1.post7
python-jose==3.0.1
pytorch-pretrained-bert==0.6.2
pytz==2019.2
PyYAML==3.13
pyzmq==18.0.2
qstat==0.0.4
QtPy==1.9.0
regex==2017.4.5
requests==2.22.0
responses==0.10.6
rsa==3.4.2
ruamel-yaml==0.15.71
s3transfer==0.1.13
scikit-learn==0.21.2
scipy==1.3.1
Send2Trash==1.5.0
setuptools==41.2.0
sgeparse==0.0.2
sh==1.12.14
six==1.12.0
snowballstemmer==2.0.0
soupsieve==1.9.3
spacy==2.1.8
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.2.4
srsly==0.1.0
sshpubkeys==3.1.0
tabulate==0.8.5
tensorboard==1.14.0
tensorboardX==1.2
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.0.8
torch==1.2.0
torchfile==0.1.0
torchvision==0.4.0a0+6b959ee
tornado==6.0.3
tqdm==4.35.0
traitlets==4.3.2
typing==3.6.4
Unidecode==1.0.22
urllib3==1.25.3
visdom==0.1.8.8
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.5
wheel==0.33.6
widgetsnbextension==3.5.1
word2number==1.1
wrapt==1.11.2
wrf-python==1.3.2
xarray==0.12.3
xmltodict==0.12.0
zipp==0.6.0
zope.interface==4.6.0
