autopep8==1.4.3
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
certifi==2019.3.9
cffi==1.11.5
cycler==0.10.0
decorator==4.3.2
enum34==1.1.6
ipython==5.8.0
ipython-genutils==0.2.0
joblib==0.13.1
kiwisolver==1.0.1
matplotlib==2.2.4
mkl-fft==1.0.10
mkl-random==1.0.2
nltk==3.4
numpy==1.15.4
olefile==0.46
pandas==0.24.1
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==1.0.15
psutil==5.6.1
ptyprocess==0.6.0
pycodestyle==2.5.0
pycparser==2.19
Pygments==2.3.1
pyparsing==2.4.0
python-dateutil==2.7.5
pytz==2018.9
scandir==1.9.0
scikit-learn==0.20.2
scipy==1.2.0
simplegeneric==0.8.1
six==1.12.0
subprocess32==3.5.3
torch==1.0.1.post2
torchvision==0.2.1
tqdm==4.29.1
traitlets==4.3.2
wcwidth==0.1.7
